:host{
    display: flex;
    width: 100%;
    height: 100%;
    transition: .5s;
    bottom: 0;
    // bottom: -100%;
    // background-color: #F4D9DC;
    left: 0;
    z-index: 5;
    color: #686d72;
    position: absolute;
    padding: 2rem;
input{
    background-color: transparent;
    border: none;
    &:focus{
        outline: none;
    }
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    background-color: red;
}
.more-options-btn{
    background-color: transparent;
    border: none;
    color: #686d72;
}
}
:host.form-show-task--closed{
    bottom: -100%;
}
:host.form-show-task--open{
    bottom: 0;
}

:host.bg-priority-one{
    background-color: #b4c8e5;
}
:host.bg-priority-two{
    background-color: #e4d8bf;
}
:host.bg-priority-three{
    background-color: #F4D9DC;
}
.display-container{
    width: 100%;
    max-height: calc(100% - 2rem);
    padding-bottom: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1rem;
    p{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    nav{
        display: flex;
        justify-content: space-between;

        span{
            transform: rotate(180deg);
            height: min-content;
            text-align: center;
            font-size: 2rem;
        }
    }
}
.task-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.task-title.title-priority-one{
    color: var(--secundary-color);
}
.task-title.title-priority-two{
    color: var(--secundary-color-warning);
}
.task-title.title-priority-three{
    color: var(--secundary-color-danger);
}
.task-description{
    font-size: .8rem;
}
.category-icon{
    transform: rotate(90deg);
}

.category-badge{
    border-radius: 5px;
    padding: .2rem .5rem;
    color: var(--white);

}
.members-initials-container{
    display: flex;
    align-items: center;
}
.members-initials{
    min-width: 3rem;
    height: 3rem;
    line-height: 200%;
    padding: .5rem;
    margin-right: .5rem;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.input-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="file"]::-webkit-file-upload-button {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    opacity: 1;
    left: 0;
    top: 0;
  }
input[type="file"]::-webkit-file-upload-button{
  display: none;
}

input.input-disable{
    background-color: #F4D9DC !important;
}

.subtasks-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li{
        display: flex;
        align-items: center;
        padding: 0 .5rem;
        gap: 1rem;
        list-style: none;
        input{
            width: 100%;
        }
    }
}
.check-box{
    width: 1rem;
    height: 1rem;
    border: 1px solid black ;
    border-radius: 5px;
    position: relative;
    .check{
        scale: 1;
        color: green;
        position: absolute;
        z-index: 200;
        top: -50%;
        left: -25%;
    }
}
.btn-add-task{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: none;
}
.comment-task-input{
    background-color: var(--white) !important;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    &:focus{
        outline: none;
    }
}
.comment-list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.comment-container{
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}
.user-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.row-one{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.user-info--name{
    font-weight: 700;
    font-size: 1rem;
}
.comment-date{
    font-size: .8rem;
}
.comment-content{
    font-size: .9rem;
}
.category-badge-danger{
    background-color: var(--secundary-color-danger);
}
.category-badge-warning{
    background-color: var(--secundary-color-warning);
}
.category-badge-default{
    background-color: var(--secundary-color);
}
.btn-add-member{
    background-color: var(--primary-color);
    // font-size: 2rem;
    font-weight: 700;
}
.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#6AA5FF 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#6AA5FF);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
}
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }
.loader-container{
    background-color: transparent;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}